version: '3'
services:
  mongodb:
    container_name: mongodb-${teamname:-wiq_es06b}
    image: mongo
    profiles: ["dev", "prod"]
    volumes:
      - mongodb_data:/data/db
    ports:
      - "27017:27017"
    networks:
      - mynetwork

  authservice:
    container_name: authservice-${teamname:-wiq_es06b}
    image: ghcr.io/arquisoft/wiq_es6b/authservice:latest
    profiles: ["dev", "prod"]
    build: ./users/authservice
    depends_on:
      - mongodb
    ports:
      - "8002:8002"
    networks:
      - mynetwork
    environment:
      MONGODB_URI: mongodb+srv://aswuser:aswuser@wiq06b.hsfgpcm.mongodb.net/userdb?retryWrites=true&w=majority&appName=wiq06b

  userservice:
    container_name: userservice-${teamname:-wiq_es06b}
    image: ghcr.io/arquisoft/wiq_es6b/userservice:latest
    profiles: ["dev", "prod"]
    build: ./users/userservice
    depends_on:
      - mongodb
    ports:
      - "8001:8001"
    networks:
      - mynetwork
    environment:
      MONGODB_URI: mongodb+srv://aswuser:aswuser@wiq06b.hsfgpcm.mongodb.net/userdb?retryWrites=true&w=majority&appName=wiq06b

  createservice:
    container_name: createservice-${teamname:-wiq_es06b}
    image: ghcr.io/arquisoft/wiq_es6b/createservice:latest
    profiles: ["dev", "prod"]
    build: ./questions/createservice
    depends_on:
      - mongodb
    ports:
      - "8005:8005"
    networks:
      - mynetwork
    environment:
      MONGODB_URI: mongodb+srv://aswuser:aswuser@wiq06b.hsfgpcm.mongodb.net/questiondb?retryWrites=true&w=majority&appName=wiq06b

  recordservice:
    container_name: recordservice-${teamname:-wiq_es06b}
    image: ghcr.io/arquisoft/wiq_es6b/recordservice:latest
    profiles: ["dev", "prod"]
    build: ./questions/recordservice
    depends_on:
      - mongodb
    ports:
      - "8006:8006"
    networks:
      - mynetwork
    environment:
      MONGODB_URI: mongodb+srv://aswuser:aswuser@wiq06b.hsfgpcm.mongodb.net/recorddb?retryWrites=true&w=majority&appName=wiq06b

  generatedquestservice:
    container_name: generatedquestservice-${teamname:-wiq_es06b}
    image: ghcr.io/arquisoft/wiq_es6b/generatedquestservice:latest
    profiles: ["dev", "prod"]
    build: ./questions/generatedquestservice
    depends_on:
      - mongodb
    ports:
      - "8003:8003"
    networks:
      - mynetwork
    environment:
      MONGODB_URI: mongodb+srv://aswuser:aswuser@wiq06b.hsfgpcm.mongodb.net/questiondb?retryWrites=true&w=majority&appName=wiq06b

  rankingservice:
    container_name: rankingservice-${teamname:-wiq_es06b}
    image: ghcr.io/arquisoft/wiq_es6b/rankingservice:latest
    profiles: ["dev", "prod"]
    build: ./users/rankingservice
    depends_on:
      - mongodb
    ports:
      - "8004:8004"
    networks:
      - mynetwork
    environment:
      MONGODB_URI: mongodb+srv://aswuser:aswuser@wiq06b.hsfgpcm.mongodb.net/rankingdb?retryWrites=true&w=majority&appName=wiq06b



  gatewayservice:
    container_name: gatewayservice-${teamname:-wiq_es06b}
    image: ghcr.io/arquisoft/wiq_es6b/gatewayservice:latest
    profiles: ["dev", "prod"]
    build: ./gatewayservice
    depends_on:
      - mongodb
      - userservice
      - authservice
      - createservice
      - recordservice
      - generatedquestservice
      - rankingservice
    ports:
      - "8000:8000"
    networks:
      - mynetwork
    environment:
      AUTH_SERVICE_URL: http://authservice:8002
      USER_SERVICE_URL: http://userservice:8001
      QUES_SERVICE_URL: http://createservice:8005
      REC_SERVICE_URL: http://recordservice:8006
      GEN_SERVICE_URL: http://generatedquestservice:8003
      RANK_SERVICE_URL: http://rankingservice:8004

  webapp:
    container_name: webapp-${teamname:-wiq_es06b}
    image: ghcr.io/arquisoft/wiq_es6b/webapp:latest
    profiles: ["dev", "prod"]
    build: ./webapp
    depends_on:
      - gatewayservice
    ports:
      - "3000:3000" 

  prometheus:
    image: prom/prometheus
    container_name: prometheus-${teamname:-wiq_es06b}
    profiles: ["dev"]
    networks:
      - mynetwork
    volumes:
      - ./gatewayservice/monitoring/prometheus:/etc/prometheus
      - prometheus_data:/prometheus
    ports:
      - "9090:9090"
    depends_on: 
      - gatewayservice
      
  grafana:
    image: grafana/grafana
    container_name: grafana-${teamname:-wiq_es06b}
    profiles: ["dev"]
    networks:
      - mynetwork
    volumes:
      - grafana_data:/var/lib/grafana
      - ./gatewayservice/monitoring/grafana/provisioning:/etc/grafana/provisioning
    environment:
      - GF_SERVER_HTTP_PORT=9091
      - GF_AUTH_DISABLE_LOGIN_FORM=true
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
    ports:
      - "9091:9091"
    depends_on: 
      - prometheus


volumes:
  mongodb_data:
  prometheus_data: 
  grafana_data: 

networks:
  mynetwork:
    driver: bridge
